/Calculadora_Interface/nbproject/private/
/Calculadora_Interf/nbproject/private/
/Calculadora_Interf/build/
/Blackjack/nbproject/private/
/Blackjack/build/
/TesteFX/nbproject/private/
/TesteFX/build/
/PokemonAPI/nbproject/private/
/PokemonAPI/build/
/DemoMySQL/src/main/resources/application.properties
